<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>商品一覧</title>
</head>
<body>
    <h1>商品一覧</h1>
    <table border="solid">
        <tr>
            <td><b th:text="#{list.id}"></b></td>
            <td><b th:text="#{list.name}"></b></td>
            <td><b th:text="#{list.price}"></b></td>
        </tr>
        <tr th:each="product : ${session.products}">
            <td><a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.id}"></a></td>
            <td>[[ ${product.name} ]]</td>
            <td>[[ ${product.price} ]]</td>
        </tr>
    </table>
    <p><button type="submit"><a th:href="@{/product-add}">追加</a></button></p>
</body>
</html>