<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品追加</title>
</head>
<body>
<h1>商品追加</h1>
<form action="/product-add" method="post" th:object="${addForm}">
    <p>
        [[ #{product.name} ]]<input type="text" th:field="*{addName}">
        <span class="error" th:each="error: ${#fields.errors('addName')}">
               [[ ${error} ]]
        </span>
    </p>
    <p>
        [[ #{product.price} ]]<input type="text" th:field="*{addPrice}">
        <span class="error" th:each="error: ${#fields.errors('addPrice')}">
               [[ ${error} ]]
        </span>
    </p>
    <p><button type="submit">追加</button></p>
</form>
</body>
</html>